$red: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-gray-blue: hsl(230, 11%, 40%);
$gray-blue: hsl(231, 7%, 65%);
$light-gray-blue: hsl(207, 33%, 95%);

//added 2 more colors
$light-gray: hsla(229, 11%, 40%, 0.5);
$white: hsl(0, 0%, 100%);